*{
  font-family: Inter;
  margin: 0px;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 25px;
}

h2 {
  color: #F5F5F5;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;  
}

h3 {
  color: #F3BF99;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
}

p {
  color: #DCDCDC;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
}

a {
  color: #F5F5F5;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
}

button {
  width: 100%;
  height: 35px;
  border-width: 0px;
  border-radius: 6px;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #23252C;
  align-items: center;
  justify-items: center;
}

.card {
  max-width: 400px;
  background-color: #1A1B21;
  margin: 50px;
  border-radius: 10px;
}

.Info {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.Info--content {
  display: flex;
  flex-direction: column;
  padding: 0px 35px;
  margin: 0px;
}

.Info--content > h1 {
  margin-top: 20px;
}

.Info--content > a {
  margin-top: 10px;
}

.Info--content--buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  column-gap: 17px;
  align-self: center;
}

button[data-destination='linkedin'] {
  background-color: #5093E2;
  color: white;
}

.About {
  margin: 30px 35px;
}

.About > p {
  margin-top: 5px;
}

.Interests {
  margin: 30px 35px;
}

.Interests > p {
  margin-top: 5px;
}

.Footer {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  column-gap: 25px;
  background-color: #161619;
  margin-top: 40px;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
}

.Footer > img {
  width: 25px;
}